body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2 {
    color: #f0ad4e;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: #f0ad4e;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

form {
    background-color: #292942;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #1e1e2f;
    color: #ffffff;
    outline: none;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #aaaaaa;
}

button {
    background-color: #f0ad4e;
    color: #1e1e2f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 15px auto;
    text-align: center;
}

button:hover {
    background-color: #ec971f;
}

#addressList {
    margin: 20px auto;
    max-width: 800px;
    display: none;
    background-color: #292942;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#addressList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#addressList li {
    background-color: #1e1e2f;
    color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#addressList li button {
    margin-top: 10px;
    align-self: flex-end;
}

#defaultContactDisplay {
    max-width: 800px;
    margin: 20px auto;
    background-color: #292942;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

#defaultContactDisplay p {
    margin: 10px 0;
    color: #ffffff;
}

#toggleButton {
    background-color: #f0ad4e;
    color: #1e1e2f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

#toggleButton:hover {
    background-color: #ec971f;
}

@media (max-width: 768px) {
    form, #defaultContactDisplay, #addressList {
        width: calc(100% - 40px);
        padding: 10px;
    }

    button {
        width: 100%;
    }
}
